body {
  font-family: "Arial", sans-serif;
  background: linear-gradient(135deg, #f06, #4a90e2);
  margin: 0;
  padding: 0;
  color: #333;
}

.App {
  text-align: center;
  padding: 20px;
}

h1 {
  font-family: "Roboto Slab", serif;
  font-style: italic;
  font-size: 2.5em;
  margin-bottom: 20px;
  background: linear-gradient(135deg, #f06, #4a90e2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fff;
}

.student-section,
.list {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #4a90e2;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #357ab8;
}

.input-container {
  position: relative;
  margin: 10px 0;
}

input[type="text"] {
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus {
  outline: none;
  border-color: #4a90e2;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.typing-placeholder-input {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  width: 300px;
  box-sizing: border-box;
}

input[type="text"]::placeholder {
  color: #999;
}

@keyframes typing {
  0% {
    content: "Enter a Student Name";
  }
  50% {
    content: "Enter a Student Name";
  }
  100% {
    content: "Enter a Student Name";
  }
}

input[type="text"]::placeholder {
  color: transparent;
}

label {
  position: absolute;
  top: 50%;
  left: 12px;
  color: #999;
  font-style: italic;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.2s ease;
}

input[type="text"]:focus + label,
input[type="text"].filled + label {
  top: -10px;
  left: 10px;
  font-size: 12px;
  color: #333;
  background: #fff;
  padding: 0 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

li span {
  flex-grow: 1;
  text-align: left;
}
